.fondo {
  background-color: #FEC935;
  margin: 12px;
}
.centrar {
  text-align: center;
  
}
h1 { 
  font-family: Ubuntu;
  color: #333333;
  font-weight: 700;
}

p {
  font-family: Poppins;
  font-size: 0.8rem;
}
label {
  color: #333333;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: ubuntu;
  
}


input {
  font-family: Poppins;
  font-size: 0.8rem;
}
small{
  font-family: Poppins;
  font-size: 0.7rem;
}

option {
  
  font-family: Poppins;
  font-size: 0.8rem;

}
.form-select{
  font-family: Poppins;
  font-size: 0.8rem;
  
 
}

.btn{
  background-color:#333333 ;
  color: #FEC935;
}

#btn {
  margin-top: 10px;
  background-color: #FEC935;
  color: #fff;
}


.sobre-mi .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  
}

.sobre-mi .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #FEC935;
  transform: translateX(-50%);
}

.text-uppercase h5{
  font-size: 0.8rem;
  font-weight: 500; 
  font-family: Poppins;
}
.footer-one h5{
  font-size: 0.8rem;
  font-weight: 500; 
  font-family: Poppins;
}

.footer-one h5 svg {
  color: #FEC935;
  
}


.footer-one a svg  {
  background-color: #FEC935;
  color:  #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
  transition: all 0.3s ease;
}
.footer-one a svg:hover{
  background-color: #333333;
  border: 2px solid #333333;
}


.pie {
  background-color: #333333;
  width: 100%;
  height: 100%;
  
}
.pie .logo h3 {
  color: #FEC935;
  margin: 20px;
  font-size: 1.2rem;
  font-family: ubuntu;
}


.pie p{
  text-align: center;
  color: #FEC935;
  margin: 10px;
  
}


@media(min-width: 768px){
  .pie{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  
}

