
/*seccion de inicio*/

.inicio{
  display: flex;
  
  background: url(/assets/img/mirando\ de\ frente.jpg) no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.inicio .ancho-maximo {
  width: 100%;
  display: flex;
  margin: auto 0 auto 40px;
}

.inicio .ancho-maximo .row{
  margin-right: 0;
 
}

.inicio .contenido-inicio .text-1{
  font-size: 27px; 
}

.inicio .contenido-inicio .text-2{
  font-size: 56px;
  font-weight: 600;
  margin-left: -3px;  
}

.inicio .contenido-inicio .text-3{
  font-size: 36px;
  margin: 5px 0; 
}

.inicio .contenido-inicio .text-3 span{
  color: #FEC935;
  font-weight: 500;
}

.inicio .contenido-inicio a {
  display: inline-block;
  background-color: #FEC935;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #FEC935;
  transition: all .3s ease;
}

.inicio .contenido-inicio .boton {
  display: inline-block;
  color: #333333;
  background: #FEC935;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 20px;
  font-weight: 500;
  border: 2px solid #FEC935;
  transition: all 0.3s ease;
  text-decoration: none;
}
.inicio .contenido-inicio .boton:hover{
  color: #FEC935;
  background: none;
}


.inicio .contenido-inicio a{
  color: #FEC935;
  background: none;
}


/*codigo de stilos similares*/

section{
  padding: 100px 0;
  
}
p{
  
  font-family: Poppins;
  font-size: 0.8rem;
}


.sobre-mi .ancho-maximo {
  
  margin: auto 40px auto 40px;
  
}
.sobre-mi, .portafolio, .habilidades, .contactos{
  font-family: "poppins", "san-serif";
  
}

.sobre-mi .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  
}

.sobre-mi .title::after{
  content: '¿Quien soy?';
  position: absolute;
  bottom: -60px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;

}




/*stylos de la seccion SOBRE MI*/

.sobre-mi .portafolio{
  font-family: "poppins", "san-serif";
  
}

.sobre-mi .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.sobre-mi .title::after{
  content: '¿Quien soy?';
  position: absolute;
  bottom: -30px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;
  transform: translateX(-50%);
}

.sobre-mi .contenido-sobremi,
.portafolio .portafolio-content,
.contactos .contenido-contacto{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.sobre-mi .contenido-sobremi .izquierda{
  width: 55%;
  
}

.sobre-mi .contenido-sobremi .izquierda img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.sobre-mi .contenido-sobremi .derecha{
  width: 45%;
}

.sobre-mi .contenido-sobremi .derecha .text{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;

}

.sobre-mi .contenido-sobremi .derecha .text span{
  color: #FEC935;
  font-size: 1.2rem;

}
.sobre-mi .contenido-sobremi .derecha p{
  text-align: justify;

}
.sobre-mi .contenido-sobremi .derecha a{
  display: inline-block;
  background-color: #FEC935;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #FEC935;
  transition: all .3s ease;
}

.sobre-mi .contenido-sobremi .derecha a:hover{
  color: #FEC935;
  background: none;

}




/*seccion de portafolio*/

section .portafolio{
  height: 100%;
  color: #fff;
  background: #333333;
}


.portafolio .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  

}
.portafolio .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #FEC935;
  transform: translateX(-50%);
}

.portafolio .title::after{
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;
  transform: translateX(-50%);
}


.residuo{
  display: flex;
  justify-content: flex-start;
}


.example-card {
  max-width: 400px;
  margin: 10px;
}

mat-card-title{
  text-align: left;
}

.portafolio .boton {
  display: inline-block;
  color: #333333;
  background: #FEC935;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 20px;
  font-weight: 500;
  border: 2px solid #FEC935;
  transition: all 0.3s ease;
  text-decoration: none;
}
.portafolio .boton:hover{
  color: #FEC935;
  background: none;
}

.progreso .progress-bar{
 margin-right: 20px;
}

h2 {
  color: #333333;
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
}
h3 {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: poppins;
}



.habilidades .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  

}
.habilidades .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #FEC935;
  transform: translateX(-50%);
}

.habilidades .title::after{
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;
  transform: translateX(-50%);
}


/*footer*/
.contacto .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  
}

.contacto .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #FEC935;
  transform: translateX(-50%);
}

.text-uppercase h5{
  font-size: 0.8rem;
  font-weight: 500; 
  font-family: Poppins;
}
.footer-one h5{
  font-size: 0.8rem;
  font-weight: 500; 
  font-family: Poppins;
}

.footer-one h5 svg {
  color: #FEC935;
  
}


.footer-one a svg  {
  background-color: #FEC935;
  color:  #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
  transition: all 0.3s ease;
}
.footer-one a svg:hover{
  background-color: #333333;
  border: 2px solid #333333;
}


.pie {
  background-color: #333333;
  width: 100%;
  height: 100%;
  
}
.pie .logo h3 {
  color: #FEC935;
  margin: 20px;
  font-size: 1.2rem;
  font-family: ubuntu;
}


.pie p{
  text-align: center;
  color: #FEC935;
  margin: 10px;
  
}


@media screen and (max-width:880px){
  .residuo{
    flex-direction: column;
  }

  .box{
    width: 100%;
  }
  .pie{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

}


/* @media screen and(max-width: 768px){

  
} */


